<h3>You entered $myTriangle.getSideA(), $myTriangle.getSideB(), $myTriangle.getSideB()</h3>

#if (!$myTriangle.isTriangle())
 <h3>NONONONO NOT RIGHT</h3>
#elseif ($myTriangle.isScalene())
 <h3>Your triangle is a scalene!</h3>
#elseif ($myTriangle.isIsosceles())
 <h3>Your triangle is an isosceles!</h3>
#elseif ($myTriangle.isEquilateral())
 <h3>Your triangle is an equilateral!</h3>
#end
